.quote {
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    line-height: 2;
    text-align: center;
}

.author {
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
}